
#kepek {
	position: relative;
	border-style: solid;
	border-width: 1px;
	border-color: black;
	width: 400px;
	height: 400px;
}

#kepek img {
	width: 100px;
	position: absolute;
	border-style: solid;
	border-width: 1px;
	border-color: white;
}

#eredetiKepDoboz, #eredetiKepDoboz img {
	width: 200px;
	height: 200px;
}

#eredetiKepDoboz  {
	display: none;
}


